@font-face {
    font-family: 'work';
    src: url(./Assets/Font/WorkSans-SemiBold.ttf);
}
@font-face {
    font-family: 'typo';
    src: url(./Assets/Font/CaviarDreams.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    
}

h1, h2, h3, p {
    user-select: none;
   

}
html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 120vh;
    

}

body::-webkit-scrollbar{
    width: 6px;
}
body::-webkit-scrollbar-thumb{
    background-color: #759915;
    border-radius: 50px;
}

.over{
    width: 100%
  height 110vh;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
    
}

header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    font-family: 'typo';
    padding:10px;

    
   
    
}

svg{
    height: 100%;
    max-height: 80px;
    margin-bottom: 10px;
}

header .logo img{
    height: 50px;
}

nav{
    margin-left: 350px;
}

header nav ul {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
header nav ul #color {
    background-color:transparent;
    border: 2px solid;
    border-color:#759915;
    
}
header nav ul #color:hover {
   border-color: #1983bd;
    transition: 0.25s ease;
}
header nav ul li #insp {
    color: #1983bd;
    transition: 0.25s ease;
    cursor: pointer;
    
}
header nav ul li #insp:hover{
    color: #759915;
    transition: 0.25s ease;
}
header nav ul li {
    padding: 15px;
    margin: 0 10px;
    background-color: #1983bd;
    width: 100%;
    min-width: 200px;
    text-align: center;
    transition: 0.25s ease;
    
}
header nav ul li:hover {
    background-color: #759915;
    transition: 0.25s ease;
}
header nav ul li a{
    color: #fff;
   
   
   
}
.nav2 {
    display: none;
}
.transparent{
    display: none;
}

 .menu {

        width:100%;
        max-width: 35px;
        height: 35px;
        transition: 0.25s ease;

        
    }
    .menu .bar, .menu::after, .menu::before {
        content: "";
        height: 2.1px;
        width: 100%;
        background-color: #1983bd;
        display: block;
        margin: 8px 0;
        transition: 0.25s ease;
    }

    .menu .bar {
        background-color: #759915;
    }

    .menu.active::before{
        transform: rotate(45deg) translate(6px , 8px);
        transition: 0.25s ease;
    }

    .menu.active::after{
        transform: rotate(-45deg) translate(6px , -8px);
        background-color: #759915;
        transition: 0.25s ease;
    }
    
    .menu.active .bar {
        opacity: 0;
    }

.hero {
    width: 100%;
    position: relative;
  
    
}

.hero .img-container {
    width: 100%;
    height: 110vh;
    
}
.blend-background{
    position: absolute;
    top: 0;
    width: 100%;
  height: 110vh;
    background-color: rgb(0, 0, 0);


}
.hero .img-container img{
    width: 100%;
    height: 110vh;
    object-fit: cover;
    object-position: center;
    animation: fade 1s ease;
    position: relative;
    
}
.hero .img-container::before{
    position: absolute;
    content: "";
    min-height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.646);
    z-index: 1;
}
.hero-content{
    width: 100%;
    position: absolute;
    color: white;

    z-index: 1;
    text-align: center;
    
}

.hero-text {
    width: 100%;
    padding-top: 200px;
    font-family: 'work';    

}
.hero-text h1 {
    font-size: 3.5rem;
    letter-spacing: -6px;
    line-height: 100px;
    text-transform: uppercase;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 140px;
   
      
}
.hero-text h2 {
    margin: 0 auto;
    margin-top: 30px;
    font-size: 2rem;
    letter-spacing: 15px;
    position: relative; 
    width: 100%;
    max-width: 850px;
    
}
.hero-text h2::before{
    content: "";
    width: 100%;
    max-width: 3px;
    height: 50px;
    display: block;
    background-color: white;
    position: absolute;
    transform: rotate(90deg);
    left: -15px;
}
.hero-text h2::after{
    content: "";
    width: 100%;
    max-width: 3px;
    display: block;
    background-color: white;
    position: absolute;
    transform: rotate(90deg);
    right: 0px;
    top: 0;
}
.agrément{
    text-transform: uppercase;
    font-family: 'work';
    background-color: #759915;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.menu2 {

    width:100%;
    max-width: 35px;
    height: 35px;
    transition: 0.25s ease;
    position: absolute;
    right: 22px;
    top: 10px;
    cursor: pointer; 
    
    

    
}
.menu2 .bar2, .menu2::after, .menu2::before {
    
    content: "";
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    display: block;
    margin: 8px 0;
    transition: 0.25s ease;
   
}

.menu2 .bar {
    background-color: #759915;
}

.menu2::before{
    transform: rotate(45deg) translate(6px , 8px);
    transition: 0.25s ease;
}

.menu2::after{
    transform: rotate(-45deg) translate(6px , -8px);
    background-color: #ffffff;
    transition: 0.25s ease;
}

.menu2 .bar2 {
    opacity: 0;
}

.over.active{
    filter: blur(5px);
}

.inscription.active{
    display: block;
}

.background-blender.active{
    opacity: 1;
    z-index:99;
    animation: fade 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: rgba(0, 0, 0, 0.589);
}


.background-blender{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.821);
    opacity:0;
    z-index: -1;
}

#inspForm.active{
    opacity: 1 !important;
    animation: fade 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateY(0) !important;
    z-index: 99;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    
}
#inspForm.active2{
    opacity: 0 !important;
  
    z-index: -1 !important;
}
#inspForm{
    background-color: #000000;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    height: fit-content;
    padding: 40px 30px;
    border-radius:10px;
    font-family: 'typo';
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    scale: 0.8;
    opacity:0;
    z-index: -1;
    transition:  0.4s cubic-bezier(.17,.84,.44,1) !important;
    box-shadow: 1px 1px 5px 5px #ffffff2f;
    transform: translateY(1000px) !important;
    
    /* animation: fade 1s cubic-bezier(0.075, 0.82, 0.165, 1) !important; */
    
}

 .form {
    color: #1983bd;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    display: block;
}
label, input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
   
}
input{
    margin-top: 10px !important;
}
select {
    margin-top: 10px !important;
    max-height: 40px;
    background-color: #fff;
}
label{
    display: block;
    color: white;
    
}
.formInscrip{
    border: none;
    border-bottom: 2px solid white;
   margin-bottom: 50px; 
}

.formInscrip:last-of-type {
    border-bottom: none;
}

input[type='submit']{
    background-color: #759915;
    width: 100%;
    max-width: 200px;
    border: none;
    margin-top: 100px;
    color: white;
    transition: 0.25s ease;
    display: block;
    text-align: center;
}
input[type='submit']:hover{
    background-color: #ffffff;
    color: #1983bd;
    transition: 0.25s ease;
}



/* ----CONTACT------------------------------------------------------------------------------------ */

main{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}
main h1{
    font-family: "typo";
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
    color: #759915;
    text-decoration: underline;
    
}


main #contactFormulaire{
    width: 100%;
    max-width: 800px;
    scale: 0.9;
    margin: 0 auto;
    background-color: #1983bd;
    padding: 30px 50px;
    font-family: 'typo';
    color: white;
    border-radius: 25px;
    margin-bottom: 100px;
    
    
  
}

#contact{
    border: none;
    border-bottom: 2px solid;
    margin-bottom: 50px;
    padding-bottom: 5px;
    
   
  

}
#contact:last-of-type{
    border-bottom: none;
}
.label {
    display:block;
    margin: 10px 0;
    width: 100%;
    font-weight: bold;
   
    border-radius:  5px;
}
.iname, .iprenom , .iphone {
    width: 100%;
    margin-top: 10px!important;
    border-radius: 3px;
    border: none;
    padding: 10px !important;
    
}



textarea{
    width: 100%;
     margin-top: 20px!important; 
    border-radius:  3px;
    border: none; 
    padding: 10px !important;
}



input[type="submit"]{
     background-color: #759915;
    border: none;
    color: white;
    width: 100%;
   max-width:200px;
   display: block;
   margin: 0 auto;
   cursor: pointer;
   padding: 20px 0;
   transition: 0.25s ease;
   
}

#btn:hover {
    background-color: #fff;
    color: #1983bd;
    transition: 0.25s ease;
    border-radius: 5px;
}
   
/* ------------------------------------------------------------------------------------ */


.fa-brands {
    color: #759915;
    scale: 1.5;
    margin: 0 10px;
    margin-bottom: 10px;
}

footer {
    font-family: 'typo';
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 50px;
}
.footerContent {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

footer p, span , h3 {
    text-align: center;
   
}

footer h3{
    padding-bottom: 20px;
    position: relative;
}
footer h3::before{
    content: "";
    width: 50px;
    height: 3px;
    background-color: white;
    display: block;
    position: absolute;
    left: 30px;
    bottom: 15px;
    border-radius: 30px;
    transition: 0.25s;
}
footer h3:hover::before{
    content: "";
    width: 120px;
    height: 3px;
    background-color: #1983bd;
    display: block;
    position: absolute;
    left: 30px;
    bottom: 15px;
    border-radius: 30px;
    transition: 0.25s;
}
.topContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.bottomContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
.div{
    width: 400px;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 15px;
}
#tel{
    color: #1983bd;
}
span{
    margin-top: 10px;
}


#up{
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
    transition: 0.25s;

}
#up:hover {
transition: 0.25s;
scale: 1.1;
}

.menu{
    display: block;
   position: relative;
   z-index: 99;
    cursor: pointer;
    bottom: 4px;
}


header.active{
max-width:100%;
background-color: white;
box-shadow: 1px 1px 3px 5px rgba(0, 0, 0, 0.383);
position: fixed;
left: 0;
right: 0;
z-index: 99;
margin: 0 auto;
transition: 0.25s cubic-bezier(.17,.84,.44,1);


}

.nav2.active {
opacity:1;
transform: translateX(0);
transition: 0.4s cubic-bezier(.17,.84,.44,1);
}
.nav2{
display: block;
position: fixed;
height: 100%;
max-width: 25%;
width: 100%;
left: 0;
top: 0;
scroll-behavior: smooth;
z-index: 98;
background-color: black;
padding-top: 60px;
transform: translateX(-500px);
transition: 0.4s cubic-bezier(.17,.84,.44,1);
opacity: 0;
overflow-y: scroll;

}
.nav2::-webkit-scrollbar{
    background-color: rgb(0, 0, 0);
    width: 0;
    
}

.nav2 a {
    
display: block;
text-transform: uppercase;
color: white;
padding: 15px 10px;
transition: 0.25s ease;
font-size: 15px;
text-align: center;
}
.nav2 a:hover{
background-color: rgb(13, 13, 13);
transition: 0.25s ease;

}
.nav2 #insp{
    cursor: pointer;
}
.sect{
border-bottom: 1px solid;
border-color: #1983bd;



}

.transparent.active{
opacity: 1;
z-index: 97;
animation: fade 1s ease;
transition: 0.4s cubic-bezier(.17,.84,.44,1);
display: block;
}
.transparent {
 
position: fixed;
top: 0;
right: 0;
left: 0;
height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, 0.788);
z-index: -99;
animation: fade 1s ease;
opacity: 0;
transition: 0.4s cubic-bezier(.17,.84,.44,1);
}

@keyframes fade {
from {
    opacity: 0;
}
to{
    opacity: 1;
}
}

/




/* RESPONSIVES */

/* 2xl */
@media (max-width:1536px){}
/* 2xl */
@media (max-width:1280px){}
/* 2xl */
@media (max-width:1096px){
    nav{
        display: none;
        }
    }
/* 2xl */
@media (max-width:998px){
    .nav2{
        width: 100%;
        max-width: 50%;
        
    }
}
@media (max-width:909px){
    .hero h1 {
        font-size: 2.5rem;
        letter-spacing: -3px;
    }
    .hero h1 {
        font-size: 2.5rem;
        letter-spacing: -3px;
        line-height: 60px;
    }
    .hero h2{
        font-size: 1.5rem;
        letter-spacing: 10px;
        position: relative;
        width: fit-content;
        margin-top: 40px;
    }
    .hero-text h2::before {
        content: "";
        position: absolute;
        transform: rotate(90deg);
        left: -21px;
        height: 30px;
      }
    .hero-text h2::after {
        content: "";
        position: absolute;
        transform: rotate(90deg);
        right: -10px;
        height: 30px;
        top:  1px;
      }

    }
@media (max-width:742){
    .nav2{
        width: 100%;
        max-width: 50%;
        
    }
}
    

/* 2xl */
@media (max-width:631px){
    .hero-text{
        scale: 0.9;
    }
}
@media (max-width:561px){
    .hero-text{
        scale: 0.8;
        padding-top: 100px;
    }
     .section-1{
        width: 100%;
        scale: 0.8;
        margin: 0;
    };
    .section-1 h1{
        
        scale: 0.8;
      
    };
     .section-2{
        scale: 0.8;
        margin: 0;
    };
    .section-2 h1{
        
        scale: 0.8;
    }  
   

 .about-content {
    width: 100%;
   

}

}
/* 2xl */
@media (max-width:475px){
    .img-format img{
        width: 100%;
        max-width: 350px;
       height: auto;
        object-fit: cover;
        border-radius: 20px;
        
       
    }
    .agrément h3 {
        font-size: 12px !important;
    .galery{
        width: 100%;
      max-width: 400px;
      height:auto;
      object-fit: cover;
      
      
    }
    main h1 {
        font-size: 2rem !important;
    }
    form{
        padding: 30px 10px !important;
    }
}

@media (max-width:422px){
    .agrément h3 {
        font-size: 10px !important;
    }
}
@media (max-width:395px){
    .hero-text{
        
        scale: 0.6;
    }
    .hero-text h2{
        text-align: center;
    }
    .hero-text{

        padding-top: 0;
        /* position: relative;
        bottom: 50px; */


        text-align: start;
        
    }
}

@media (max-width:352px){
    .agrément h3 {
        font-size: 10px !important;
    }
}
@media (max-width:380px){
    .img-format img {
        
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
        text-align: center;
    }
    
    /* .img-format{
        width: 100%;
    }
    .img-format{
    width: 100%;
        max-width:100%;
        height:auto;
    }
    .img-format img{
        width: 100%;
        height: auto;
       

        
    } */
    
    }
    .filière{
        scale: 0.9;
        
        
        
        
        margin: 0 auto;
    }

    .section3 h1{
      
 
    }
    
}


@media (max-width:331px){
  
    
}







/* RESPONSIVES */

/* 2xl */
@media (max-width:1536px){}
/* 2xl */
@media (max-width:1280px){}
/* 2xl */
@media (max-width:1096px){
    nav{
        display: none;
        }

    }
/* 2xl */
@media (max-width:909px){
    .hero h1 {
        font-size: 2.5rem;
        letter-spacing: -3px;
    }
    .hero h1 {
        font-size: 2.5rem;
        letter-spacing: -3px;
        line-height: 60px;
    }
    .hero h2{
        font-size: 1.5rem;
        letter-spacing: 10px;
        position: relative;
        width: fit-content;
        margin-top: 40px;
    }
    .hero-text h2::before {
        content: "";
        position: absolute;
        transform: rotate(90deg);
        left: -21px;
        height: 30px;
      }
    .hero-text h2::after {
        content: "";
        position: absolute;
        transform: rotate(90deg);
        right: -10px;
        height: 30px;
        top:  1px;
      }
    }

@media (max-width:742px){
    .nav2{
        width: 100%;
        max-width: 50%;
        
    }
}
    

/* 2xl */
@media (max-width:631px){
    .hero-text{
        scale: 0.9;
    }
}
@media (max-width:561px){
    .hero-text{
        scale: 0.8;
        padding-top: 140px;
    }
     .section-1{
        width: 100%;
        scale: 0.8;
        margin: 0;
    };
    .section-1 h1{
        
        scale: 0.8;
      
    };
     .section-2{
        scale: 0.8;
        margin: 0;
    };
    .section-2 h1{
        
        scale: 0.8;
    }  
    /* };
     .section-3{
        width: 100%;
        scale: 0.8;
        margin: 0;
    };
    .section-3 h1{
        
        scale: 0.8;
      
    };
     .section-4{
        width: 100%;
        scale: 0.8;
        margin: 0 auto;
    };
    .section-4 h1{
        
        scale: 0.8;
      
    };
    .section-3 img{
        width: 100%;
        height: auto;
    }
    .bar-top, .bar-bottom {
        width: auto;
    }
    
    main {
        padding-top: 0;
        text-align: center;
    }

    fieldset {
        margin-bottom: 0;
        margin: 0 auto;
        padding: 0;
        width: auto;
        
    } */


 .about-content {
    width: 100%;
   

}

}

/* 2xl */
@media (max-width:475px){}

@media (max-width:395px){
    .hero-text{
        
        scale: 0.7;
    }
    .hero-text h1{

        padding-top: 0;

        text-align: center;
        
    }
}

@media (max-width:380px){
    .img-format img {
        
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
        text-align: center;
    }
    

    

    .filière{
        scale: 0.9;
        
        
        
        
        margin: 0 auto;
    }

    .section3 h1{
      
 
    }
    
    
}

@media (max-width:331px){
    .hero-text{
        display: flex;
        flex-direction: column;
        justify-content: center ;
        align-items: center  ;
        width: 100%;
        max-width: 400px !important;
     
       
    }
   
}
