@font-face {
    font-family: 'work';
    src: url(./Assets/Font/WorkSans-SemiBold.ttf);
}
@font-face {
    font-family: 'typo';
    src: url(./Assets/Font/CaviarDreams.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    
}

html{
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;

}

h1, h2, h3, p {
    user-select: none;
   

}

body {
    width: 100%;
    height: 120vh;
    scroll-behavior: smooth;
    
   
   
}
.over{
    width: 100%
  height 110vh;
    overflow-x: hidden !important;

    
}

header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    font-family: 'typo';
    padding: 5px;

    
   
    
}
header .logo img{
    height: 50px;
}

nav{
    margin-left: 350px;
}

header nav ul {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
header nav ul #color {
    background-color:transparent;
    border: 2px solid;
    border-color:#759915;
    
}
header nav ul #color:hover {
   border-color: #1983bd;
    transition: 0.25s ease;
}
header nav ul li #insp {
    color: #1983bd;
    transition: 0.25s ease;
    cursor: pointer;
    
}
header nav ul li #insp:hover{
    color: #759915;
    transition: 0.25s ease;
}
header nav ul li {
    padding: 15px;
    margin: 0 10px;
    background-color: #1983bd;
    width: 100%;
    min-width: 200px;
    text-align: center;
    transition: 0.25s ease;
    
}
header nav ul li:hover {
    background-color: #759915;
    transition: 0.25s ease;
}
header nav ul li a{
    color: #fff;
   
   
   
}
.nav2 {
    display: none;
}
.transparent{
    display: none;
}

 .menu {

        width:100%;
        max-width: 35px;
        height: 35px;
        transition: 0.25s ease;

        
    }
    .menu .bar, .menu::after, .menu::before {
        content: "";
        height: 2px;
        width: 100%;
        background-color: #1983bd;
        display: block;
        margin: 8px 0;
        transition: 0.25s ease;
    }

    .menu .bar {
        background-color: #759915;
    }

    .menu.active::before{
        transform: rotate(45deg) translate(6px , 8px);
        transition: 0.25s ease;
    }

    .menu.active::after{
        transform: rotate(-45deg) translate(6px , -8px);
        background-color: #759915;
        transition: 0.25s ease;
    }
    
    .menu.active .bar {
        opacity: 0;
    }

.hero {
    width: 100%;
    position: relative;
  
    
}

.hero .img-container {
    width: 100%;
    height: 110vh;
    
}
.blend-background{
    position: absolute;
    top: 0;
    width: 100%;
  height: 110vh;
    background-color: rgb(0, 0, 0);


}
.hero .img-container img{
    width: 100%;
    height: 110vh;
    object-fit: cover;
    object-position: center;
    animation: fade 1s ease;
    position: relative;
    
}
.hero .img-container::before{
    position: absolute;
    content: "";
    min-height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.646);
    z-index: 1;
}
.hero-content{
    width: 100%;
    position: absolute;
    color: white;

    z-index: 1;
    text-align: center;
    
}

.hero-text {
    width: 100%;
    padding-top: 200px;
    font-family: 'work';    

}
.hero-text h1 {
    font-size: 3.5rem;
    letter-spacing: -6px;
    line-height: 100px;
    text-transform: uppercase;
    max-width: 90%;
    margin: 0 auto;
   
      
}
.hero-text h2 {
    margin: 0 auto;
    margin-top: 30px;
    font-size: 2rem;
    letter-spacing: 15px;
    position: relative; 
    width: 100%;
    max-width: 850px;
    
}
.hero-text h2::before{
    content: "";
    width: 100%;
    max-width: 3px;
    height: 50px;
    display: block;
    background-color: white;
    position: absolute;
    transform: rotate(90deg);
    left: -15px;
}
.hero-text h2::after{
    content: "";
    width: 100%;
    max-width: 3px;
    display: block;
    background-color: white;
    position: absolute;
    transform: rotate(90deg);
    right: 0px;
    top: 0;
}
.agrément{
    text-transform: uppercase;
    font-family: 'work';
    background-color: #759915;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



fieldset {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}


.bar-top{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-bottom: 2px solid;
    border-color: #1983bd;
    margin-top: 50px;

}
.bar-bottom{
    width:100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    border-bottom: 2px solid;
    border-color: #1983bd;
}

.section-1 h1 {
    font-family: 'work';
    letter-spacing: -3px;
    text-align: center;
    text-transform: uppercase;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}


.section-1 {
 
margin: 10px;
}
fieldset{
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.42);
    padding: 20px 0;
    margin-bottom:50px ;
}
fieldset h2{
    text-align: center;
}

.head h2 {
    font-family: 'typo';
    color: #1983bd;
}
.head{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

svg{
    height: 100%;
    max-height: 80px;
    margin-bottom: 10px;
}


.content {
    width: 100%;
   display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap; 
   
  
}

#sect2 {

    width: 100%;
    max-width: 90%;
    padding-bottom: 50px;
    margin: 0 auto;
   
}


 .sect1 {
    font-family: "typo";
   display: flex;
   justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}


.sect2 p{
   width: 100%;
   max-width: 200px;
   text-align: center;
  
}
  

.sect2 {
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 30px;
   

}




.section-1{
  
}
.content .box{
    margin: 25px;
    display: flex;

}
 .content .box p{
     width: 100%;
     font-family: 'typo';
     text-align: center;
     position: relative;
     z-index: 1;
     
  
     
    }
    .content .box #white::before{
        content: '';
        width: 100%;
        max-width: 400px;
        height: 50px;
        border: 2px solid;
        border-color:#759915;
        display: block;
        position: absolute;
        z-index: -1;
        top: 11px;

    }    
    
    .content .box #white::after{
        content: '';
        width: 70%;
       height: 30px;
        background-color: rgb(255, 255, 255);
        display: block;
        position: absolute;
        z-index: -1;
        top: -3px;
        left: 0;
        right: 0;
        margin:0 auto ;

    }    






.white-2 {
width: 100%;
margin: 0 auto;
max-width: 300px;
display: flex;
padding: 0 15px;
}
.white-3 {

    width: 100%;
  
    
}
.box-special{
  
 
   
    
}
.content-special{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center; 
  
    
}
.content-special::after{
    content:"";
    height: 300px;
    width: 800px;

}
.box-special {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap !important;
margin: 20px ;
}
.box-special p {
width: 100%;
max-width: 400px;
text-align: center;
height: fit-content;
}

.box-special .hoverP {
    font-family: 'typo';
    border: 2px solid;
    color: #1983bd;
    border-color: #759915;
    padding: 15px;
    border-radius: 50px;
    transition: 0.25s ease;

    margin: 20px 0;
}

.box-special p:hover {
    transition: 0.25s ease;
    border-color: #1983bd;
    cursor: pointer;
    color: #759915;
    
}
.reverse {
   /* display: flex; */

  /* flex-direction: row-reverse;  */
}

#Atouts, #formation, #programme, #office {
    height: 150px;
   
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    flex-wrap: wrap;
     align-items: center;
}


.sect3 h1 {
    text-align: center;
    font-family: "work";
    letter-spacing: -3px;
    padding-top: 50px 20px;
    text-transform: uppercase;
}


 .h1div {
    
    width: 100%;
    max-width: 200px;
    border: 1px solid #1983bd;
    margin: 0 auto;

   
} 

.sect3{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.galery-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}
.galery-container::after{
    content:"";
    max-width: 100%;
    height: 250px;
    height: auto;

}

.galery{
    width: 100%;
  max-width: 400px;
  height: 300px;
  object-fit: cover;
  
  
}
.img-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.img-format img{
    width: 100%;
    max-width: 350px;
   height: 250px;
    object-fit: cover;
    border-radius: 20px;
    
   
}

.filière{
 font-family: 'typo';
 padding: 10px;
 border-radius: 40px;
 border: 2px solid #759915;
 margin-top: 10px !important;
 margin-bottom: 10px !important;



}

.filière:hover {
    transition: 0.25 ease;
    border-color: #1983bd;
    color: #759915;
}


.section-4 #bot::before{
    content: "";
    width: 3px;
    height: 60px;
    display: block;
    background-color:#759915;
    position: absolute;
    top: 30px;
    transform: rotate(90deg);
    left: -1px;
 
}
.section-4 #bo{
    color: #1983bd;
    font-family: "work";
    letter-spacing: -3px;
    text-align: center;
    text-transform: uppercase;
}
    
.section-4 #bot::after{
    content: "";
    width: 3px;
    height: 50px;
    display: block;
    background-color: #759915; 
    position: absolute;
    transform: rotate(90deg);
    right: 0px;
    top: 34px;
} 


.section-4 .content {
    display: flex;
     flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px; 
}

.fa-brands {
    color: #759915;
    scale: 1.5;
    margin: 0 10px;
    margin-bottom: 10px;
}

footer {
    font-family: 'typo';
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 50px;
}
.footerContent {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

footer p, span , h3 {
    text-align: center;
   
}

footer h3{
    padding-bottom: 20px;
    position: relative;
}
footer h3::before{
    content: "";
    width: 50px;
    height: 3px;
    background-color: white;
    display: block;
    position: absolute;
    left: 30px;
    bottom: 15px;
    border-radius: 30px;
    transition: 0.25s;
}
footer h3:hover::before{
    content: "";
    width: 120px;
    height: 3px;
    background-color: #1983bd;
    display: block;
    position: absolute;
    left: 30px;
    bottom: 15px;
    border-radius: 30px;
    transition: 0.25s;
}
.topContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.bottomContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
.div{
    width: 400px;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 15px;
}
#tel{
    color: #1983bd;
}
span{
    margin-top: 10px;
}


#up{
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
    transition: 0.25s;

}
#up:hover {
transition: 0.25s;
scale: 1.1;
}

.menu{
    display: block;
   position: relative;
   z-index: 99;
    bottom: 4px;
    cursor: pointer;
}


header.active{
max-width:100%;
background-color: white;
box-shadow: 1px 1px 3px 5px rgba(0, 0, 0, 0.383);
position: fixed;
left: 0;
right: 0;
z-index: 99;
margin: 0 auto;
transition: 0.25s cubic-bezier(.17,.84,.44,1);


}

.nav2.active {
opacity:1;
transform: translateX(0);
transition: 0.4s cubic-bezier(.17,.84,.44,1);
}
.nav2{
display: block;
position: fixed;
height: 100%;
max-width: 25%;
width: 100%;
left: 0;
top: 0;
scroll-behavior: smooth;
z-index: 98;
background-color: black;
padding-top: 60px;
transform: translateX(-500px);
transition: 0.4s cubic-bezier(.17,.84,.44,1);
opacity: 0;
/* overflow-y: scroll; */
}
nav2::-webkit-scrollbar{
/* opacity: 0 !important; */
/* background-color: red; */
}
.nav2 a {
    
display: block;
text-transform: uppercase;
color: white;
padding: 15px 10px;
transition: 0.25s ease;
font-size: 15px;
text-align: center;
scroll-behavior: smooth;
}
.nav2 a:hover{
background-color: rgb(13, 13, 13);
transition: 0.25s ease;

}
.nav2 #insp{
    cursor: pointer;
}
.sect{
border-bottom: 1px solid;
border-color: #1983bd;



}

.transparent.active{
opacity: 1;
z-index: 97;
animation: fade 1s ease;
transition: 0.4s cubic-bezier(.17,.84,.44,1);
display: block;
}
.transparent {
 
position: fixed;
top: 0;
right: 0;
left: 0;
height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, 0.788);
z-index: -99;
animation: fade 1s ease;
opacity: 0;
transition: 0.4s cubic-bezier(.17,.84,.44,1);
}

@keyframes fade {
from {
    opacity: 0;
}
to{
    opacity: 1;
}
}

/* /------------INSCRIPTION------------------------------------------------------------- */



.menu2 {

    width:100%;
    max-width: 35px;
    height: 35px;
    transition: 0.25s ease;
    position: absolute;
    right: 22px;
    top: 10px;
    cursor: pointer;

    
}
.menu2 .bar2, .menu2::after, .menu2::before {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    display: block;
    margin: 8px 0;
    transition: 0.25s ease;
}

.menu2 .bar {
    background-color: #759915;
}

.menu2::before{
    transform: rotate(45deg) translate(6px , 8px);
    transition: 0.25s ease;
}

.menu2::after{
    transform: rotate(-45deg) translate(6px , -8px);
    background-color: #ffffff;
    transition: 0.25s ease;
}

.menu2 .bar2 {
    opacity: 0;
}

body.active{
    filter: blur(2px);
}

.inscription.active{
    display: block;
}

.background-blender.active{
    opacity: 1;
    z-index:99;
    animation: fade 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* background-color: rgba(0, 0, 0, 0.589); */
}


.background-blender{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.821);
    opacity:0;
    z-index: -1;
}

form.active{
    opacity: 1 !important;
    animation: fade 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 99;
    transition: 0.25s;
    
}
form.active2{
    opacity: 0 !important;
   
    z-index: -1 !important;
}
form{
    background-color: #000000;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    height: fit-content;
    padding: 40px 30px;
    border-radius:10px;
    font-family: 'typo';
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    scale: 0.8;
    opacity:0;
    z-index: -1;
    transition:  0.4s;
    box-shadow: 1px 1px 5px 5px #ffffff2f;
    /* animation: fade 1s cubic-bezier(0.075, 0.82, 0.165, 1) !important; */
    
}

.texte {

}


 .form {
    color: #1983bd;
    text-align: center;
    font-size: 1.8rem;
    display: block;
    font-weight: bold;
}
label, input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
   
}
input{
    margin-top: 10px !important;
}
select {
    margin-top: 10px !important;
    max-height: 40px;
    background-color: #fff;
}
label{
    display: block;
    color: white;
    
}
.formInscrip{
    border: none;
    border-bottom: 2px solid white;
}

.formInscrip:last-of-type {
    border-bottom: none;
}

input[type='submit']{
    background-color: #759915;
    width: 100%;
    max-width: 200px;
    border: none;
   padding: 20px 0 !important;
    color: white;
    transition: 0.25s ease;
    display: block;
    text-align: center;
    margin: 0 auto !important;
}
input[type='submit']:hover{
    background-color: #ffffff;
    color: #1983bd;
    transition: 0.25s ease;
}

#visionContent{
    padding-bottom: 50px;
    font-size: 17px;
    margin-bottom: 120px;
}
.vision-content {
    display: flex;
    flex-direction: column;
    font-family: "typo";
    color: #1983bd;
    margin-bottom: 25px;
    
}

.vision-txt{
    font-family: "typo";
    padding: 20px 0;
    text-align: justify;
    font-weight: bold;
   
}
.vision-txt p{
    margin-bottom: 15px;
    width: 100%;
    max-width: 800px;
}
.vision-txt #end{
    color: #759915;

}




/* RESPONSIVES */

/* 2xl */
@media (max-width:1536px){}
/* 2xl */
@media (max-width:1280px){}
/* 2xl */
@media (max-width:1096px){
    nav{
        display: none;
        }
/* 2xl */
@media (max-width:909px){
    .hero h1 {
        font-size: 2.5rem;
        letter-spacing: -3px;
    }
    .hero h1 {
        font-size: 2.5rem;
        letter-spacing: -3px;
        line-height: 60px;
    }
    .hero h2{
        font-size: 1.5rem;
        letter-spacing: 10px;
        position: relative;
        width: fit-content;
        margin-top: 40px;
    }
    .hero-text h2::before {
        content: "";
        position: absolute;
        transform: rotate(90deg);
        left: -21px;
        height: 30px;
      }
    .hero-text h2::after {
        content: "";
        position: absolute;
        transform: rotate(90deg);
        right: -10px;
        height: 30px;
        top:  1px;
      }


@media (max-width:742px){
    .nav2{
        width: 100%;
        max-width: 50%;
        
    }
}
    

/* 2xl */
@media (max-width:650px){
    .hero-text{
        scale: 0.9;
    }
    .agrément h3{
        font-size: 13px;
    }
}
@media (max-width:561px){
    .hero-text{
        scale: 0.8;
        padding-top: 100px;
    }
     .section-1{
        width: 100%;
        scale: 0.8;
        margin: 0;
    };
    .section-1 h1{
        
        scale: 0.8;
      
    };
     .section-2{
        scale: 0.8;
        margin: 0;
    };
    .section-2 h1{
        
        scale: 0.8;
    }  
   

 .about-content {
    width: 100%;
   

}
/* 2xl */
@media (max-width:475px){
    .img-format img{
        width: 100%;
        max-width: 350px;
       height: auto;
        object-fit: cover;
        border-radius: 20px;
        
       
    }
    .agrément h3{
        font-size: 12px !important;
    }
   
    .galery{
        width: 100%;
      max-width: 400px;
      height:auto;
      object-fit: cover;
      
      
    }
}

@media (max-width:422px){
    .agrément h3 {
        font-size: 10px !important;
}
@media (max-width:395px){
    .hero-text{
        
        scale: 0.6;
    }
    .hero-text h2{
        text-align: center;
    }
    .hero-text{

        padding-top: 0;
        /* position: relative;
        bottom: 50px; */


        text-align: start;
        
    }
}

@media (max-width:352px){
    .agrément h3 {
        font-size: 8px !important;
}
@media (max-width:380px){
    .img-format img {
        
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
        text-align: center;
    }
    
    /* .img-format{
        width: 100%;
    }
    .img-format{
    width: 100%;
        max-width:100%;
        height:auto;
    }
    .img-format img{
        width: 100%;
        height: auto;
       

        
    } */
    
    }
    .filière{
        scale: 0.9;
        
        
        
        
        margin: 0 auto;
    }

    .section3 h1{
      
 
    }
    
    


@media (max-width:331px){
    .hero-text{
        display: flex;
        flex-direction: column;
        justify-content: center ;
        align-items: center  ;
        position : relative; 
       right: 30px;
       padding: 30px;
    }
    .hero-text h2{

        position : relative; 
        right: -40px;
        bottom: 40px ;
    }
    .hero-text h1{
        position : relative; 
        bottom: 50px ;
    }
}
